<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    
    
    <add name="ConnectionString" connectionString="Data Source=CONTRAGENT\KONTRAGENT;Initial Catalog = Kontragent; Integrated Security = True"
      providerName="System.Data.SqlClient" />
    
    <add name="ConnectionStringOracle" connectionString="Data Source = 192.168.100.180:1521/hermes; User Id = developer; Password=h3rm35; Pooling = false"
    providerName="System.Data.SqlClient" />
    
    
    <add name="WindowsFormsApp3.Properties.Settings.KontragentConnectionString"
      connectionString="Data Source=D-KARYAKIN\SQLEXPRESS;Initial Catalog=Kontragent;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!--  
D-KARYAKIN\SQLEXPRESS
C979
-->